html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  zoom: 0.8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

.swiper-slide {
  display: flex !important;
  height: auto !important;
  align-items: stretch !important;
}

/* Hide placeholder when empty */
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: transparent;
}

/* Show text when typing or when a valid date is selected */
input[type="date"]:focus::-webkit-datetime-edit-text,
input[type="date"]:focus::-webkit-datetime-edit-month-field,
input[type="date"]:focus::-webkit-datetime-edit-day-field,
input[type="date"]:focus::-webkit-datetime-edit-year-field,
input[type="date"]:valid::-webkit-datetime-edit-text,
input[type="date"]:valid::-webkit-datetime-edit-month-field,
input[type="date"]:valid::-webkit-datetime-edit-day-field,
input[type="date"]:valid::-webkit-datetime-edit-year-field {
  color: inherit;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Dark mode */
.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

input.no-date-icon-style::-webkit-calendar-picker-indicator {
  filter: invert(0) !important;
  opacity: 1 !important;
}

/* Dark mode = white icon */
.dark input.no-date-icon-style::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
}
